<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart1);
        google.charts.setOnLoadCallback(drawChart2);
        google.charts.setOnLoadCallback(drawChart3);
        google.charts.setOnLoadCallback(drawChart4);

        function drawChart1() {
            var sensor1Data = new google.visualization.DataTable();
            sensor1Data.addColumn('string', 'Date');
            sensor1Data.addColumn('number', 'Sensor 1');

            var dataPoints = [[${sensordata}]];
            var pointAmount = 24;
            console.log(dataPoints[0]['date'].substr(11,5));

            if (dataPoints.length > pointAmount) {
                for (var i = length - pointAmount - 1; i < dataPoints.length; i++) {
                    sensor1Data.addRow([dataPoints[i]['date'].substr(11,5), dataPoints[i]['sensor1']]);
                }
            } else {
                for (var i = 0; i < dataPoints.length; i++) {
                    sensor1Data.addRow([dataPoints[i]['date'].substr(11,5), dataPoints[i]['sensor1']]);
                }
            }

            var options = {
                'title': 'Sensor 1 data for last 24 hours',
                'height': 900,
                'width': 1200,
                'pointSize': 5
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart1_div'));
            chart.draw(sensor1Data, options);
        }
        function drawChart2() {
            var sensor2Data = new google.visualization.DataTable();
            sensor2Data.addColumn('string', 'Date');
            sensor2Data.addColumn('number', 'Sensor 2');

            var dataPoints = [[${sensordata}]];
            var pointAmount = 24;

            if (dataPoints.length > pointAmount) {
                for (var i = length - pointAmount - 1; i < dataPoints.length; i++) {
                    sensor2Data.addRow([dataPoints[i]['date'].substr(11,5), dataPoints[i]['sensor2']]);
                }
            } else {
                for (var i = 0; i < dataPoints.length; i++) {
                    sensor2Data.addRow([dataPoints[i]['date'].substr(11,5), dataPoints[i]['sensor2']]);
                }
            }

            var options = {
                'title': 'Sensor 2 data for last 24 hours',
                'height': 900,
                'width': 1200,
                'pointSize': 5
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart2_div'));
            chart.draw(sensor2Data, options);
        }
        function drawChart3() {
            var sensor3Data = new google.visualization.DataTable();
            sensor3Data.addColumn('string', 'Date');
            sensor3Data.addColumn('number', 'Sensor 3');

            var dataPoints = [[${sensordata}]];
            var pointAmount = 24;

            if (dataPoints.length > pointAmount) {
                for (var i = length - pointAmount - 1; i < dataPoints.length; i++) {
                    sensor3Data.addRow([dataPoints[i]['date'].substr(11,5), dataPoints[i]['sensor3']]);
                }
            } else {
                for (var i = 0; i < dataPoints.length; i++) {
                    sensor3Data.addRow([dataPoints[i]['date'].substr(11,5), dataPoints[i]['sensor3']]);
                }
            }

            var options = {
                'title': 'Sensor 3 data for last 24 hours',
                'height': 900,
                'width': 1200,
                'pointSize': 5
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart3_div'));
            chart.draw(sensor3Data, options);
        }
        function drawChart4() {
            var sensor4Data = new google.visualization.DataTable();
            sensor4Data.addColumn('string', 'Date');
            sensor4Data.addColumn('number', 'Sensor 4');

            var dataPoints = [[${sensordata}]];
            var pointAmount = 24;

            if (dataPoints.length > pointAmount) {
                for (var i = length - pointAmount - 1; i < dataPoints.length; i++) {
                    sensor4Data.addRow([dataPoints[i]['date'].substr(11,5), dataPoints[i]['sensor4']]);
                }
            } else {
                for (var i = 0; i < dataPoints.length; i++) {
                    sensor4Data.addRow([dataPoints[i]['date'].substr(11,5), dataPoints[i]['sensor4']]);
                }
            }

            var options = {
                'title': 'Sensor 4 data for last 24 hours',
                'height': 900,
                'width': 1200,
                'pointSize': 5
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart4_div'));
            chart.draw(sensor4Data, options);
        }
    </script>
    <title>Some open sensor data...</title>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">OpenData Task</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history">History</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div id="chart1_div" style="width:1200px; height:900px"></div>
            <div id="chart2_div" style="width:1200px; height:900px"></div>
            <div id="chart3_div" style="width:1200px; height:900px"></div>
            <div id="chart4_div" style="width:1200px; height:900px"></div>

        </div>
    </div>
</div>
</body>
</html>